/*Colores Fondo*/
/*Pink Combination*/
p500 = #E91E63
p900 = #880E4F
p300 = #F06292
/*Red*/

r500 = #F44336
r900 = #B71C1C

/*Blue*/
b500 = #2196F3
b900 = #0D47A1
bg500 = #607D8B

/*Amber*/
a500 = #FFC107

/*Cyan*/
c500 = #00BCD4
/*Text Colors*/

/*Teal*/
t500 = #26A69A
t200 = #80CBC4
/*Black*/
negro = #333

/*Blancos*/
b01 = #f7f7f7
b02 = #ccc

/*Encabezados*/
.navegation
	padding 1em
	box-sizing border-box
	background-color b500 
	h1 
		font-size 20px
		margin 0
		color b01
	.nav-list
		li 
			display inline-block
			list-style none 
			a 
				color b01
				padding 1.5em
				text-decoration none
				font-weight bolder
				&:hover
					color negro
					background-color b01
.subtitle-sect
	text-align center

.legend-footer
	text-align center
	color b01
	font-weight bolder
.persons
	text-align center
.avatar
	display block 
	margin 0 auto 
.testimonios
	background-color c500
	padding 1em
	color b01
.partners
	background-color a500
	padding 1em	
.img-thumbnail
	background-color transparent
	border 0px 
.footer 
	padding 1em 
	background-color b500
.promociones
	padding 1em 
	background-color c500
	color b01
	
.contacto
	background-color t200
	padding 1em
	h2
		text-align center
	form 
		position relative
		margin 0 auto 
		display block
		input
			width 45%
			position relative
			margin 0 auto 
			margin-top 5px
		textarea 
			width 45%
			position relative
			margin 0 auto 
			margin-top 5px
			resize: none 
		button 
			display block
			position relative
			margin 0 auto
			margin-top 5px
			background-color r500
			color b01
			border-bottom 5px solid r900
			width: 15%;
			&:hover
				color b01
				background-color r500
				border-bottom 5px solid r900 
			